body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: linear-gradient(to bottom, #FFFFFF, #4C91EC);
    color: #ffffff;
}
header {
    background-color: #1c66df;
    padding: 10px 0;
}

.navbar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.logo {
    text-align: center;
    margin-bottom: 10px;
}

.logo a {
    color: white;
    text-decoration: none;
    font-size: 24px;
    font-weight: bold;
}
@media screen and (max-width: 600px) {
    .logo {
        display: none;
    }
}

.nav-links {
    display: flex;
    list-style: none;
    justify-content: center;
    padding: 0;
}

.nav-links li {
    position: relative;
}

.nav-links a {
    display: block;
    color: white;
    text-decoration: none;
    padding: 15px 20px;
    text-align: center;
}

.nav-links a:hover {
    background-color: #4591ff;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #4591ff;
    min-width: 160px;
    z-index: 1;
}

.dropdown-content a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #073D94;
}

.hamburger {
    display: none;
    cursor: pointer;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.hamburger .bar {
    width: 25px;
    height: 3px;
    background-color: white;
    margin: 5px 0;
    transition: all 0.3s;
}

@media screen and (max-width: 600px) {
    .logo {
        display: none;
    }

    .hamburger {
        display: flex;
        margin-right: auto;
    }

    .nav-links {
        display: none; 
        flex-direction: column;
        position: absolute;
        top: 40px;
        left: 0;
        width: auto;
        background-color: #1c66df;
        text-align: left;
        padding-left: 0px;
    }

    .nav-links li {
        width: 100%;
    }

    .dropdown-content {
        left: 100%;
        top: 0;
    }

    .nav-links.active {
        display: flex;
    }
}



section {
    padding: 20px 20px;
    text-align: center;
}

h1, h2 {
    color: #1c66df;
}

p {
    color: black;
}

footer {
    /* background-color: #1c66df;
    text-align: center;
    padding: 15px;
    margin-top: auto; */
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #1c66df;
    text-align: center;
    padding: 10px;
}

}

.footer-text {
    color: white;
}
ul {
    color: #000000;
    text-align: left; 
}
li {
    color: #000000;
    text-align: left;
}

#about-section{
    background: none;
    background: url('images/deployment.jpg') no-repeat center center fixed;
    background-size: cover;
    background-attachment: fixed;
    min-height: 100vh;
}
